<section class="property-binding d-flex justify-content-center align-items-center"> 
    <article>
        <div class="card" style="width: 40rem; height: 35rem; background-color: #9ab2d6;">
            <div class="card-body">
                <p class="fs-1" style="color: #ffffff;">Calculadora</p>
              <div class="alert alert-light" role="alert">
                Digite um numero
              </div>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">1</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">2</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">3</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">÷</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">4</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">5</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">6</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">x</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">7</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">8</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">9</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">+</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">.</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">0</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">=</button>
              <button type="button" class="btn btn-light" style="width: 8rem; margin: 0.65rem; height: 4rem; font-weight: bold; font-size:35px">-</button>
              
            </div>
          </div>
    </article>
</section>