<section class="property-binding">

    <article>
        <h3>
            interpolação 
        </h3>
        <p>
            String gerada com interpolação: {{ url }}
        </p>
        <p>
            O resultado de 1+1 é : {{ 1+1 }}
        </p>
        <p>
            O resultado de 1+1 não é : {{ 1+1+getValor() }}
        </p>
    </article>

    <article>
        <h3>
            Property-Binding
        </h3>
        <img src="{{ urlImagem }}"> <! – ou <img [src]=" urlImagem ">
    </article>

</section>