<section class="property-binding d-flex justify-content-center align-items-center"> 
  <article>
      <div class="card" style="width: 40rem; height: 35rem; background-color: #9ab2d6;">
          <div class="card-body">
              <p class="fs-1" style="color: #ffffff;">Calculadora</p>
            <div class="alert alert-light" role="alert">
              Digite um numero
            </div>
            <app-botoes-calculadora value="1"></app-botoes-calculadora>
            <app-botoes-calculadora value="2"></app-botoes-calculadora>
            <app-botoes-calculadora value="3"></app-botoes-calculadora>
            <app-botoes-calculadora value="÷"></app-botoes-calculadora>
            <app-botoes-calculadora value="4"></app-botoes-calculadora>
            <app-botoes-calculadora value="5"></app-botoes-calculadora>
            <app-botoes-calculadora value="6"></app-botoes-calculadora>
            <app-botoes-calculadora value="x"></app-botoes-calculadora>
            <app-botoes-calculadora value="7"></app-botoes-calculadora>
            <app-botoes-calculadora value="8"></app-botoes-calculadora>
            <app-botoes-calculadora value="9"></app-botoes-calculadora>
            <app-botoes-calculadora value="+"></app-botoes-calculadora>
            <app-botoes-calculadora value="."></app-botoes-calculadora>
            <app-botoes-calculadora value="0"></app-botoes-calculadora>
            <app-botoes-calculadora value="="></app-botoes-calculadora>
            <app-botoes-calculadora value="-"></app-botoes-calculadora>
            
          </div>
        </div>
  </article>
</section>