<div>
  <div class="calculadora-card">
    <div class="card-body">
      <div class="calculadora-title">Calculadora</div>
      <app-visor-calculadora [content]="valorDigitado"></app-visor-calculadora>
      <div class="calculadora-keys-grid">
        <div class="calculadora-number-grid">
          <app-botoes-calculadora value="1" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="2" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="3" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="4" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="5" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="6" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="7" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="8" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="9" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="0" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="." (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="=" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
        </div>
        <div class="calculadora-operations-grid">
          <app-botoes-calculadora value="C" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="-" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="x" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="÷" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
          <app-botoes-calculadora value="+" (clickEvent)="botaoClicado($event)"></app-botoes-calculadora>
        </div>
      </div>
    </div>
  </div>
</div>